/* MOBILE FIRST IS DA WAE!!! */
*{
    font-family: Roboto;
}
* ::-webkit-scrollbar{
    display: none;
}
ion-icon{
    background-color: white;
}
.website{
    background-color: #E5E5E5;
    z-index: 0;
    height: 100%;
}
/* Mobile */
/* Barra superior */
.topo{
    height: 54px;
    width: 100%;
    display: flex;
    /* background-color: violet; */
    border-bottom: 1px solid #DBDBDB;
    position:fixed;
    top: 0px;
    z-index: 2;
    background-color: white;
}
.barra-superior-desktop{
    display: none;
}
.barra-superior-mobile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px 0 20px;
    font-size: 21px;
    background-color: white;
}
.barra-superior-mobile img{
    height: 29px;
    background-color: white;
}
/* Storys */
.storys{
    height: 118px;
    width: 100%;
    display: flex;
    margin-top: 54px;
    align-items: center;
    z-index: 1;
    position: relative;
    overflow: auto;
    white-space: nowrap;
}
.story{
    height: 86px;
    width: 66px;
    /* background-color: wheat; */
    margin-left: 18px;
    margin-right: px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.story-background{
    height: 66px;
    width: 66px;
    position: absolute;
    border-radius: 33px;
    top: 0;
}
.story-profile-picture{
    height: 56px;
    width: 56px;
    border-radius: 28px;
    position: absolute;
    top: 5px;
    left: 0.5px;
}
/* Feed */
.feed{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    background-color: #E5E5E5;
}
.post{
    width: 100%;
    background-color: white;
    border: 1px solid #DBDBDB;
    margin-bottom: 60px;
    z-index: 1;
}
.post-topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 17px 15px 17px;
}
.post-topo img{
    height: 32px;
    width: 32px;
    border-radius: 16px;
}
.post-user{
    display: flex;
    align-items: center;
}
.post-user span{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-left: 15px;
}
.post-img img{
    width: 100%;
    height: auto;
}
.post-options{
    display: flex;
    justify-content: space-between;
    padding: 12px 17px 7px 17px;
}
.options-left ion-icon{
    margin-right: 18px;
    font-size: 18px;
    z-index: -1;
}
.options-right{
    font-size: 18px;
}
.post-likes{
    display: flex;
    padding-left: 17px;
    padding-bottom: 14px;
    align-items: center;
}
.post-likes img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.post-likes span{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-left: 5px;
}
/* Barra inferior */
.barra-inferior{
    position: fixed;
    bottom: 0px;
    background-color: white;
    height: 54px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px #DBDBDB;
    font-size: 20px;
    z-index: 2;
}
.sidebar{
    display: none;
}
/* Desktop reduzido */
@media (min-width: 614px) {
    /* Barra superior */
    .barra-superior-mobile{
        display: none;
    }
    .barra-superior-desktop{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 21px;
        padding-right: 21px;
    }
    .logo-desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
    }
    .logo-desktop ion-icon{
        margin-bottom: 5px;
    }
    .barra-vertical{
        height: 22px;
        width: 1px;
        border: solid 1px #DBDBDB;
        margin: 0 10px 5px 10px;
    }
    .barra-superior-desktop input{
        text-align: center;
    }
    .menu{
        font-size: 22px;
    }
    .menu ion-icon{
        margin-left: 22px;
    }
    /* posts */
    .posts{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    /* Storys */
    .storys{
        background-color: white;
        width: 614px;
        margin-top: 88px;
        margin-bottom: 24px;
    }
    .seta-stories{
        position: absolute;
        right: 35px;
        top: 128px;
        z-index: 2;
        font-size: 26px;
        border-radius: 13px;
    }
    /* feed */
    .feed{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .post{
        width: 614px;
    }
    .barra-inferior{
        display: none;
    }
}
@media (min-width: 935px) {
    .content{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    .sidebar{
        display: flex;
        width: 292px;
        height: 400px;
        background-color: dimgray;
        margin-top: 88px;
        margin-left: 29px;
    }
    .perfil-sidebar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 56px;
    }
    .perfil-sidebar img{
        height: 56px;
        width: 56px;
        border-radius: 28px;
        margin-right: 17px;
    }
    .arroba-nome{
        display: flex;
        flex-direction: column;
        font-family: Roboto;
    }
}